/* CONTACT */

.header {
    background-color: rgba(0, 0, 0, 0.589);
}

.intro {
    height: 100%;
}

.banner__link {
    padding-top: 10rem;
    color: #FFB700;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.banner__heading {
    padding-top: 5rem;
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    padding-bottom: 2rem;
}

.section__contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(../img/backgroung_white.png)fixed;
}

.contact__container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.contact__left_side {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

.contact__left_side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    background: #333;
    right: -15px;
    top: 10%;
    transform: translate(-10%);
}
  
.contact__right_side {
    width: 75%;
    margin-left: 7.5rem;
    text-align: center;
}

.contact__details {
    margin: 1.4rem;
    text-align: center;
}
  
.contact__details i{
    font-size: 2.5rem;
    color: #FFB700;
    margin-bottom: 5px;

}  

.topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
  
.text-one {
    margin-bottom: 2px;
}
  
.text-one,
.text-two {
    font-size: 14px;
    color: #afafb6;
}
  
.topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #FFB700;
    margin-bottom: 10px;
}

.form-control {
    width: 50rem;
}
  
.form-group:nth-child(3) {
    padding-top: 1.5rem !important;
}

.form-control-textarea {
    height: 100px;
    padding-top: 1.3rem;
}

/* confidentiality */
.section__confidentiality {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.confidentiality__container {
    width: 100rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

@media only screen and (max-width: 1100px) {
    .confidentiality__container {
        width: 60rem;
    }
}

@media only screen and (max-width: 650px) {
    .confidentiality__container {
        width: 30rem;
        padding: 2rem;
    }

    .confidentiality__container p,
    .confidentiality__container h1 {
        text-align: center;
    }
}

.confidentiality__container p {
    font-size: 1.3rem;
    color: #000;
}

.confidentiality__container h1 {
    font-size: 2.7rem;
    color: #333;
    font-weight: 800;
}

.new__question {
    background: url(../img/backgroung_white.png) !important;
}

/* PRICEE */ 

.price__container p{
    color: #fff;
    font-size: 1.5rem;
}

.action__set {
    background: url(../img/backgroung_white.png);
}

.set_black {
    color: #000 !important;
}