/* russo-one-regular - latin */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/russo-one-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/russo-one-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/roboto-v29-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
}

::selection{
    background-color: #FFB700;
    color: #fff;
}
/*///////////// scrollbar /////////////*/
::-webkit-scrollbar{
    width: 12px; 
}

::-webkit-scrollbar-track{
    background: #fff;

}

::-webkit-scrollbar-thumb{
    background: #232929;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{ 
    background: #666666;
}
/* FIXED PHONE */
.container_tel {
    position: fixed;
    right: 2%;
    bottom: 4%;
    z-index: 289 !important;
}

#text {
    margin: 0 auto;
}

.tel_container i {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    padding: 0 0;
    margin: -4px -4px ;
}

.pulse {
    position: relative; 
    padding: 20px; 
    border-radius: 50%; 
    background: #FFB700;
    width: 60px;
    height: 60px;
    transition: .5s;
}

.pulse:hover{
    background: rgb(255, 213, 107);;
}


.pulse::before {
    content: ''; 
    position: absolute;
    border: 2px solid #FFB700; 
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.pulse::after,
.pulse::before {
  content: '';
  position: absolute;
  border: 2px solid #FFB700;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.pulse::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
/* /////////////BUTTON UP ////////////*/
.up-flex {
    display: flex !important;
    transition: .3s;
}
.container_up {
    display: none;
    position: fixed;
    left: 2%;
    bottom: 4%;
    z-index: 289;
}

.up_container {
    text-align: center;
    width: 35px;
    height: 30px;
    background-color: rgba(0, 0, 0, .8);
    transition: .5s;
}

.up_container:hover  {
    background-color: #FFB700;
}

.up_container i {
    padding: 3px 0;
    font-size: 2rem;
    color: #fff;
}
/* SECTION__HEADER */
.section__header{
    margin: auto;
    border-radius: 100px;
    width: 250px;
    height: 5px;
    background: url(../img/back.png);
    background-color: transparent;
    outline: 1px solid rgba(0, 0, 0, 1);;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.o-white {
    outline: 1px solid #fff;
}
/* ORDER FIXED */
.order_over.order_visited {
    display: block;
}

.order_over {
    display: none;
    background-color: rgb(0, 0, 0, .5);
    height: 12109px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111100;
}

.container_order h1 {
    text-align: center;
    color: #333;
}

.button__setting {
    width: 400px;
}
.order {
    background: #fff;
    padding: 2rem 5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.form-control.order_over_set {
    width: 100%;
}

.confidentiality.c-black {
    color: #000;
}

.order_over span  {
    position: fixed;
    right: .5rem;
    top: 1rem;
    cursor: pointer;
}

.order_close {
    display: block;
    cursor: pointer;
}

.order_bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}


.order_close .order_bar:nth-child(2){
    opacity: 0;
}

.order_close .order_bar:nth-child(3){
    transform: translateY(1px) rotate(45deg);
}

.order_close .order_bar:nth-child(1){
    transform: translateY(-1px) rotate(-45deg);;
}
/*///////////////////// CONTAINER //////////////////// */
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
/*//////////////////// INTRO ////////////////////*/
.intro::after{
    content: '';
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: inherit;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/intro.jpg) center no-repeat fixed;
    z-index: initial;
    background-size: auto 100%;
}

/*//////////////////// HAMB ////////////////////*/
.hamb {
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: .3s;
    background-color: #fff;
}
/*//////////////////// B-FLARE ////////////////////*/
.b-flare {
    display: flex;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    border-radius: 0.5rem;
    overflow: hidden;
}

.b-flare::before {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0.5;
    filter: blur;
    background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
    transform: translate(-100%, -25%) rotate(10deg);
    animation: blick 3s infinite;
}
@keyframes blick {
    0% {
        transform: translate(-100%, -25%) rotate(10deg);
    }
    20% {
        transform: translate(100%, -25%) rotate(10deg);
    }
    100% {
        transform: translate(100%, -25%) rotate(10deg);
    }
    }
/*//////////////////// HEADER ////////////////////*/
.header.header_fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    animation-name: show__header;
    animation-duration: 1s;
    z-index: 289;
}
.header {
    width: 100%;
    position: relative;
    z-index: 289;
}

@keyframes show__header {
    0%{
        opacity: 0;
        top: -70%;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-right: 3rem;
    transition: .3s;
}

.button_phone,
.nav__item {
    cursor: pointer;
}

.button_phone,
.nav__item:last-child {
    display: flex;
    background: linear-gradient(to right, #FFB700, #ffd56b);
    padding: 1rem 3rem;
}

.button_phone.b-flare:hover,
.nav__item.b-flare:hover{
    background: linear-gradient(to right, #ffd56b, #FFB700);
}

.setting {
    margin-right: 0;
    font-size: 1.5rem;
    font-weight: 800;
}

.nav__item:last-child i {
    margin-right: .5rem;
    font-size: 1.8rem;
}

.button_phone {
    display: none;
}

.button_phone.b-flare i {
    color: #fff;
    font-size: 2rem;
    margin-right: .5rem;
}

.nav__item i{
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-right: .2rem;
    transition: .3s;
}

.nav__item:not(:last-child):hover .nav__link,
.nav__item:not(:last-child):hover i{
    color: #FFB700;
}

.nav__logo {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: .3s;
}

.nav__logo h1{
    margin: 0;
    padding: 0;
    font-size: 2.7rem;
    font-weight: 700;
    color: #fff;
}
.nav__logo p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
}

.nav__logo img {
    width: 50px;
    margin-right: 20px;
}
.nav__logo:hover{
    transform: scale(1.05);
}

.nav__logo span {
    color: #FFB700;
}

/* SECTION BANNER */

.section__banner {
    position: relative;
    width: 100%;
    left: 50%;
    top: 20%;
    text-align: center;
    transform: translate(-50%,-20%);
    z-index: 1;
}

.section__banner_main_heading {
    color: #fff;
    font-size: 5rem;
    font-weight: 800 !important;
    margin: 0 ;
}

.section__banner_main_heading span,
.section__banner_main_discription span{
    color: #FFB700;
}

.section__banner_main_discription {
    color: #fff;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 2rem;
}

.form-group:first-child{
    margin-bottom: 1.5rem;
}

.form-control{
    width: 40%;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    height: 4.5rem;
    padding: 3px;
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: 400;
}

.form-control::placeholder{
    color: #333;
    font-size: 15px;
    font-weight: 400;
}

.confidentiality {
    display: flex;
    align-items: center;
    justify-content: center;  
    color: #fff;
    text-align: center;
}

.confidentiality i {
    margin-right: .4rem;
}

button {
    outline: none;
    border: none;
    width: 40%;
    height: 4.5rem;
    margin: auto;
    justify-content: center;
    border-radius: 0 !important;
}

.send__button {
    display: flex;
    background: linear-gradient(to right, #FFB700, #ffd56b);
    justify-content: center;
    align-items: center;
}

.send__button:hover {
    background: linear-gradient(to right, #ffd56b,#FFB700);
}

.send__button i {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.scroll-down-arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    margin: 0 auto;
    z-index: 1;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (min-width: 992px){
    .d-lg-block {
    display: block!important;
    }
}

@media (max-width: 992px){
    .d-lg-block {
    display: none!important;
    }
}
.scroll-down-arrow:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -3px;
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-animation: scroll_down 2s infinite;
    animation: scroll_down 2s infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    
    60% {
        transform: translateY(-15px);
    }
}

@keyframes scroll_down{
    from{
        opacity: .0;
    }

    30%{
        opacity: 1;
    }

    50%, 80%{
        transform: translateY(25px);
    }

    to{
        opacity: .0;
    }
}

/*//////////// SECTION SERVISES //////////////*/
.section__services {
    padding-top: 2rem;
    background: url(../img/backgroung_white.png) repeat center fixed;
}

.c-white {
    color: #fff !important;
}

.section__heading {
    font-family: 'Russo One', sans-serif !important;
    font-weight: 800 !important;
    text-align: center;
    font-size: 4rem;
    color: #333;
}

.section__services__item{
    display: flex;
    justify-content: center;
}

.section__services__item_content{
    display: inline-block;
    flex: 0 0 25%;
    max-width: 25%;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.section__services__item_content:not(:last-child){
    margin-right: 20px;
}

.section__services__item_main{
    padding: 45px 25px;
    text-align: center;
    margin-bottom: 30px;
}

.section__services__item_heading{
    color: #333;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;

}

.section__services__item_discription{
    color: #000;
    font-weight: 300;
    font-size: 1.5rem;

}

.section__services__icon i{
    padding: 0 0 25px;
    font-size: 4.5rem;
    transition: color 0.5s;
    transition: box-shadow 0.5s;
    transition: background-color 0.5s;
}

.section__services__item_content:hover .section__services__icon i{
    box-shadow: 0 0 0 1px #333;
    background-color: #333;
    color: #fff;
}

.section__services__icon i{
    border: 1px solid #333;
    padding: 25px;
    border-radius: 100%;
}

.section__discription {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 0;
    color: #000;
    font-weight: 300 !important;
    font-size: 1.6rem;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
/* SECTION PRICE */
.section__price {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background: url(../img/background_black.png) center repeat fixed;
}

.section__price_list {
    padding-top: 2rem;
}

tr:hover{
    background-color: #ffb7007a;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th:nth-child(1) {
    width: 70%;
    background: linear-gradient(to right, #FFB700, #ffd56b8c);
  }
  
  thead th:nth-child(2) {
    text-align: left;
    width: 30%;
    background: linear-gradient(to left, #FFB700, #ffd56b8c);
  }
  
  td{
      display: flex;
      align-items: center;
  }

  td a{
      margin-left: 2rem;
  }
  th, td {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
  }

#btn{
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button{
    cursor: pointer;
    display: flex;
    background: linear-gradient(to right, #FFB700, #ffd56b);
    padding: 1rem 3rem;
    width: 25%;
}

.button.b-flare:hover{
    background: linear-gradient(to right, #ffd56b, #FFB700);
}

#more {
    position: relative;
    display: none;
}

#more.more-block{
    position: relative;
    display: block;
    animation-name: show__more;
    animation-duration: 1s;
} 

@keyframes show__more {
    0%{
        opacity: 0;
        width: 0;
    }

    100%{
        width: 100%;
        opacity: 1;
    }
}

.setting-for {
    width: 60%;
}
/* SECTION WORK */ 

.section__work {
    padding-bottom: 5rem;
    padding-top: 3rem;
    border-bottom: 1px solid rgba(90, 90, 90, .1);
    background: url(../img/backgroung_white.png)center repeat fixed;
}

.section__work_list {
    padding-top: 3rem;
    width: 100%;
    height: 100%;
}

.section__work_list_item {
    display: block;
    width: 33.3%;
}

.section__work_list_item:not(:last-child) {
    margin-right: 2rem;
}

.work_one{
    display: flex;
    margin-right: 2rem;
}

.section__work_list_item.for_mobile {
    display: none;
}

.section__work_list_item img {
    width: 390px;
}

.work__header {
    color: #000;
    font-size: 2rem;
}

.work__discription {
    color: #333;
    font-size: 1.3rem;
    font-weight: 300;
}

.work__price {
    color: #333;
    font-weight: 800;
    font-size: 1.4rem;
}
/* SECTION GAP */

.section__gap {
    background: url(../img/background_black.png)center repeat fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.gap__container {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    justify-content: center;
}

.section__gap_list_item {
    display: flex;
    align-items: center;
    width: 50%;
}

.section__gap_list_item:not(:last-child) {
    margin-right: 2rem;
}

.section__gap_list_item i {
    color: #FFB700;
    font-size: 5rem;
    margin-right: 1rem;
}

.section__gap_list_item h2{
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}
/* SECTION ACTION */
.section__action {
    background: url(../img/background_black.png)center repeat fixed;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.section__action_right a{
    margin-left: 20rem;
}

.action__header {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

.action__header span {
    color: #FFB700;
}

.action__discription {
    color: #fff;
}

.action__discription span {
    color: #FFB700;
    font-style: 3rem;
    font-weight: 300;
}

.action__container {
    display: flex;
    align-items: center;

}
/* //////////////SECTION COMMENT///////////// */
.section__comment {
    padding-bottom: 4rem;
    padding-top: 3rem;
    background: url(../img/backgroung_white.png)center repeat fixed;
}
.section__comment_image_list{
    padding-top: 3rem;
    display: block;
}

.comment_image {
    width: 200px;
    margin-right: 3rem;
    transition: .3s;
}

.comment_image:hover {
    transform: scale(1.1);
}
/* //////////////SECTION MAP///////////// */

.section__map {
    padding-top: 2rem;
    background: url(../img/backgroung_white.png) center repeat fixed;
}
.map__container{
    padding-bottom: 3rem;
}
/* ////////////SECTION ORDER/////////// */
.section__order::after{
    content: '';
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
}

.section__order {
    position: relative;
    width: 100%;
    background: url(../img/intro.jpg) center no-repeat fixed;
    z-index: 0;
    background-size: auto 100%;
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.section__order__content {
    display: flex;
}

.order_form_end {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}

.setting_for_end {
    width: 35rem !important;
}

.send__button.b-flare#setting{
    margin: 0;
    width: 35rem;
}
/* SECTION QUESTION */

.section__question {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(../img/background_black.png)center repeat fixed;
}

.section__question_container {
    display: flex;
    justify-content: center;
}

.section__question_list {
    width: 40%;
    padding-top: 3rem;
}

.section__question_list:first-child {
    padding-right: 2rem;
}

.section__qustion_list_item {
    cursor: pointer;
}

.content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}

.content p {
    color: #333;
    font-size: 1.3rem;
}

.question__header {
    margin: 0;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    background: linear-gradient(to right, #FFB700, #ffd56b);
    color: #fff;
    transition: .3s;
}

.question__header:hover {
    background: linear-gradient(to right, #ffd56b, #FFB700);
}
/* FOOTER */
.footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: url(../img/background_black.png);
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer_head {
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 1.2rem;
}

.footer_disciption {
    font-family: 'Roboto',sans-serif;
    color: #FFB700;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer__list {
    display: flex;
}

.footer__list_item:nth-child(2) {
    margin-left: 30rem;
    margin-right: 10rem;
}
.footer__list_item h2 {
    margin-top: 0;
}

.footer__list_item_link {
    display: flex;
    align-items: center;
}

.footer__list_item_link:first-child {
    margin-bottom: 2rem;
}

.footer__list_item_link i{
    color: #fff;
    margin-right: 1rem;
    font-size: 1.3rem;
}


.footer__list_item_link h2 {
    margin: 0;
}






























.section {
    padding-top: 100rem;
}








